.leaflet-control-toolbar{
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    width: 40px;
    border:1px solid gray;
    background-color: #fff;
}

.leaflet-control-toolbar a{
    float: right;
    height: 40px;
    width: 40px;
    display: block;
    opacity: 0.7;
    cursor: pointer;
}

.leaflet-control-toolbar a:hover{
    background-color: #f4f4f4;
}

.leaflet-control-toolbar .selected{
    background-color: #fffc91 !important;
}

.leaflet-control-toolbar a:first-child:hover, a.selected:first-child{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.leaflet-control-toolbar  a:last-child:hover,  a.selected:last-child {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.leaflet-control-toolbar a:first-child{
    border-bottom: 1px solid gray;
}

.leaflet-control-toolbar a:last-child{
    border-top: 1px solid gray;
}

.leaflet-control-toolbar a span{
    margin-top: 10px;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    display: block;
}

