.leaflet-control-user{
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
    background: #fff;
    border-radius: 5px;
    background-image: url(../../../image/anonymous.png);
    width: 36px;
    height: 36px;
}